.container{
    display: flex;
    justify-content: center;
    align-items: stretch;
  
    padding: 1rem;
}

.container.fade-out {
  visibility: hidden;
    opacity: 0;
    transform: scale(0.98);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    z-index: 1;
}
.container.fade-in {
  visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.plant-card {
    isolation: isolate; /* ... */
    background: linear-gradient(to top #010f0066 #383838);
    border-radius: 10px;
    padding: 20px;
    width: 620px; height: 620px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    z-index: 1;
    color: black;text-align: justify; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.plant-image {
    flex: 0.8;
    display: flex;
    justify-content: center;
    position: relative;
    width: 620px; height: 620px;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    overflow: hidden;
    z-index: 1;
}
.plant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
ion-content .container{
  isolation: isolate;
  background: transparent;
}




.btnE{
  --background: transparent !important;
  --background-hover: transparent !important;
  --box-shadow: none !important;

  --color: white !important;
  color: white !important;

  position: fixed;
  top: 30px;
  right: 30px;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border: none;
  cursor: pointer;
}
.btnE::part(native){
  background: transparent !important;
  color: white !important;
  box-shadow: none !important;
}
.btnE ion-icon{
  font-size: 30px;
  color: #ffffff !important;
  border-radius: 3px;
}

.btnE:hover{
  background: rgba(45, 45, 45, 0.8);
  box-shadow: 0 6px 12px rgba(255, 27, 27, 0.6);
  transform: scale(1.3);
  border-radius: 50%;
  transition: all 0.3s ease;
} 


