.btnE{
  --background: transparent !important;
  --background-hover: transparent !important;
  --box-shadow: none !important;

  --color: white !important;
  color: white !important;

  position: fixed;
  top: 30px;
  right: 30px;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border: none;
  cursor: pointer;
  z-index: 3;
}
.btnE::part(native){
  background: transparent !important;
  color: white !important;
  box-shadow: none !important;
}
.btnE ion-icon{
  font-size: 30px;
  color: #ffffff !important;
  border-radius: 3px;
}

.btnE:hover{
  background: rgba(45, 45, 45, 0.8);
  box-shadow: 0 6px 12px rgba(255, 27, 27, 0.6);
  transform: scale(1.3);
  border-radius: 50%;
  transition: all 0.3s ease;
}




.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra verticalmente */
  align-items: center;     /* centra horizontalmente */
  background: linear-gradient(to bottom, rgb(209, 240, 181), rgb(90, 90, 75));
}
