/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */


ion-content::part(scroll) {
  background: linear-gradient(to bottom, rgb(209, 240, 181), rgb(90, 90, 75));
}

.semiCirculo {
  width: 120px;
  height: calc(11% - 6px);
  left: 50%;
  bottom: -20px;
  position: fixed;
 border-radius: 120px 120px 0 0;
 border-color: rgb(255, 255, 255);
 
 background: transparent;
 backdrop-filter: blur(50px) saturate(180%);
 border-width: 3px;
  border-style: solid;
  transform: translateX(-50%);

  box-shadow: 0 -3px 10px rgba(0, 255, 120, 0.15),
  0 -8px 25px rgba(0,0,0,0.4);
  animation: pulso 6s ease-in-out infinite; 
}
.semiCirculo:hover{
  transform: translateX(-50%) scale(6.5);
  transition: transform 0.4s ease;
  box-shadow: 0 0 10px 3px rgba(212, 2, 2, 0.831);
  border: transparent;
  backdrop-filter: blur(1px);
  border-top:1px solid rgba(255, 255, 255, 0.2);
  
}
.semiCirculo .btn{
  background: transparent;
  box-shadow: none;
  color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5px;
  width: 20%;
}
.semiCirculo:hover .btn{
  background: transparent; 
  
  box-shadow: none;
  color: #1e3d10;
}
.btn:hover ion-icon {
  background: transparent;
  box-shadow: none;
  color: #83b129;
}



/* Bounce*/

@keyframes pulso{
  0%,101%{
    box-shadow:
    0 -6px 20px rgba(0,255, 120, 0.0),
    inset  0 -2px 6px rgba(0,0,0,0.8);
    background: rgba(15, 15, 15, 0.6);
  }
  50%{
    box-shadow:
    0 -3px 30px rgba(0,255, 120, 0.6),
    inset  0 -2px 10px rgba(0,0,0,0.5);
    background: rgba(0, 20, 0, 0.7);
  }
}