.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra verticalmente */
  align-items: center;     /* centra horizontalmente */
  background: linear-gradient(to bottom, rgb(209, 240, 181), rgb(90, 90, 75));
}